<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<p> authenticating........</p>
<p> wait ............................</p>

</body>
<script>
    $(window).on("load", function () {
        var credentials = document.URL.substr(document.URL.indexOf('#') + 1);
        var url = "{% url 'update_drpbox_credentials'%}";
        document.location.href = url + "?" + credentials;
    });
</script>
</html>